/* General style */
body{
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 55px;
  font-weight: bold;
  color: #fff;
  margin-top: 60px;
}
a{
  color:#2485fd;
}
/* Button */
.btn{
  border-color: #2485fd;
  color: #2485fd;
  padding: 8px 14px;
  margin-top: 6px;
}
/* Navbar */
.do-logo{
  max-height: 40px;
  vertical-align: middle;
}
.navbar-default{
  background-color: #fff;
}
.navbar{
  border: 0;
  border-radius: 0;
  padding-top: 15px;
  margin-bottom: 5px;
}
.navbar-default .navbar-nav > li > a{
  color:  #666;
}
/* Main-Header */
.main-header{
  background-image: url('../assets/bg-banner-home.jpg');
  background-size: cover;
  height: 400px;
}
.main-header p{
  font-size: 20px;
  color: rgba(244, 244, 244, 0.7);
}
.google-icon{
  max-height: 20px;
}
.box-mail{
  width: 40%;
  background: #fff;
  border-radius: 8px;
  margin-top: 40px;
  margin-left: 40px;
}
.bg-info{
  color: #666;
  background: #fff;
  border: 3px solid rgba(244, 244, 244, 0.7);
  box-shadow: 10px;
  border-radius: 8px;
  padding: 5px;
}
.bg-primary{
  border: 3px solid rgba(244, 244, 244, 0.7);
  box-shadow: 10px;
  border-radius: 8px;
  padding: 5px;
}
.form-group .bg-info p{
  color: black;
}
.text-google p{
  font-size: 18px;
  color: #666;
}
.text-google .white{
  color: white;
}
h4{
  font-size: 12px;
}
.blue{
  color: #2485fd;
}
/* Header-sub */
.header-sub{
  background: #f3f5f9;
}
h5{
  margin-top: 40px;
  text-transform: uppercase;
}
.header-sub ul li img{
 max-width: 160px;
 padding: 10px;
}
.header-sub a{
  color:#2485fd;
}
/* Jumbotron */
.jumbotron{
  background-color: #fff;
}
.jumbotron p{
  margin-bottom: 30px;
  }
.jumbotron h2{
  font-weight: bold;
}
.box-deploy{
  width: 360px;
  height: 183px;
}
.box-deploy h5{
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  text-transform: capitalize;
}
.list-jumbotron{
  padding: 70px;
}
.list-jumbotron ul{
  font-size: 16px;
  list-style: none;
}
.list-jumbotron ul li{
  padding: 15px 10px;
  border-left: 1px solid #666;
}
/* Developers */
.developers{
  background-color: #f3f5f9;
}
.box-developers img{
  max-height: 500px;
  margin-top: 30px;
}
.box-developers ul li a i{
  font-size: 50px;
  color: #666;
}
.developers h2{
  font-weight: bold;
}
.box-developers h4{
  font-weight: bold;
  font-size: 18px;
}
.box-developers > a{
  font-size: 40px;
  color: #2485fd;
}
/* Features */
.features{
  margin-bottom: 20px;
}
.features .box{
  margin-bottom: 40px;
}
.box-features h5{
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  text-transform: capitalize;
}
/* Section Customers */
.customers{
  padding-top:10px;
  background:#003bb8;
}
.customers h2,
.customers span,
.customers p,
.customers a{
  color: #fff;
}
.customers h2{
  font-weight: bold;
  margin-bottom: 20px;
}
.customers p{
  display: inline-block;
}
.customers span,
.customers p,
.customers a{
  padding: 10px 50px 0 30px;
}
.border{
border-bottom: 1px solid white;
}
.cities a{
  color: #2485fd;
}
.cities li p{
  width: 260px;
}
/* Section Developers 2 */
.developers{
  padding-top: 20px;
}
.white-box{
  width: 590px;
  height: 260px;
  background: #fff;
}
.white-box img{
  margin-bottom: 40px;
}
/* Pre-footer*/
.pre-footer{
  background: #0049ff;
}
.pre-footer h2{
  color: #fff;
}
.btn-footer{
  font-size: 18px;
  padding: 10px;
  margin: 30px;
}
/* Footer-sub */
.footer-sub{
  background:#003bb8;
}
.footer-sub span{
  display: inherit;
}
.col1-left img{
  padding-top:10px;
}
.col1-left span{
  padding-top: 15px;
}
.col1-left span,
.col1-left small,
.col1-left a{
  color:#fff;
}
.col1-left a{
  font-size: 18px;
}
.list-none{
  list-style: none;
  padding: 0;
}
.footer-sub h4{
  font-size: 20px;
  color: #fff;
}
.footer-sub .list-none li{
  font-size: 14px;
  color: #fff;
}
/* tooltip */ /*NON VISIBILE*/
.tooltip{
  position: relative;
  width: 300px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  line-height: 1.45;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5););
}
.tooltip::before{
  content: "";
  position: absolute;
  bottom:15px;
  right: -5px;
  width: 10px;
  height: 10px;
  background: #fff;
  transform: rotate(45deg);
}
.chat-img{
  position: relative;
}
.chat-img img{
  position: absolute;
  top: 0;
  left: 200px;
  width: 80px;
}
/* Media Query da 370px Mobile a 750px*/
@media screen and (max-width: 750px){
  h1{
    font-size: 40px;
  }
  .box-mail{
    width: 80%;
    background: #fff;
    border-radius: 8px;
    margin: 60px 20px 0 20px;
  }
  .header-sub ul li img{
   width: calc(100 / 12)* 6;
   padding: 8px;
  }
  .main-header{
    height: 900px;
  }
  .list-jumbotron ul{
    font-size: 16px;
    list-style: none;
    padding: 0;
  }
  .box-deploy {
    width: 180px;
    height: 220px;
    padding: 5px;
    margin-bottom: 20px;
  }
  .box-deploy h5{
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: capitalize;
  }
  .box p{
    font-size: 14px;
  }
  .list-jumbotron{
    padding: 40px;
  }
  .list-jumbotron ul li{
    padding: 15px 10px;
    border-left: 1px solid #666;
  }
  .box-developers img{
    max-height: 120px;
    margin-top: 30px;
  }
  .box-developers ul li a i{
    font-size: 18px;
    color: #666;
  }
  .box-developers > a{
    font-size: 30px;
    color: #2485fd;
  }
  .box-features{
    margin-bottom: 30px;
  }
  .customers span,
  .customers p,
  .customers a{
    padding: 10px 30px 10px 20px;
  }
  .white-box{
    width: 250px;
    height: 300px;
    background: #fff;
  }
  .white-box img{
    max-width: 150px;
  }
  .cities li p{
    width: 150px;
  }
  .chat-img{
    position: relative;
  }
  .chat-img img{
    position: absolute;
    top: 10px;
    left: 200px;
    width: 90px;
  }
}
/* Media Query da 769px Tablet a 970px*/
@media screen and (max-width: 970px){
/*Hamburger tablet*/
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* Styles sections*/
  .box-mail{
    width: 90%;
  }
  .main-header{
    height: 820px;
  }
  .list-jumbotron ul{
    font-size: 16px;
    list-style: none;
  }
  .box-deploy {
    width: 180px;
    height: 220px;
    padding: 5px;
  }
  .box-deploy h5{
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: capitalize;
  }
  .box-deploy p{
    font-size: 14px;
  }
  .list-jumbotron ul{
    font-size: 16px;
    list-style: none;
  }
  .list-jumbotron ul li{
    padding: 15px 10px;
    border-left: 1px solid #666;
  }
  .customers span,
  .customers p,
  .customer a{
    font-size: 12px;
  }
  .customers span,
  .customers p,
  .customers a{
    padding: 2px 10px 2px 15px;
  }
  .cities li p{
    width: 150px;
  }
  .box-developers ul li a i{
    font-size: 40px;
    color: #666;
  }
  .box-developers > a{
    font-size: 35px;
    color: #2485fd;
  }
  .box-developers img{
    max-height: 180px;
    margin-top: 30px;
  }
  .chat-img{
    position: relative;
  }
  .chat-img img{
    position: absolute;
    top: -82px;
    left: 200px;
    width: 70px;
  }
}
