/* General style */
body{
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 55px;
  font-weight: bold;
  color: #fff;
  margin-top: 60px;
}
/* Button */
.btn{
  border-color: #2485fd;
  color: #2485fd;
  padding: 8px 14px;
  margin-top: 6px;
}
/* Navbar */
.do-logo{
  max-height: 40px;
}
.navbar-default{
  background-color: #fff;
}
.navbar{
  border: 0;
  border-radius: 0;
  padding-top: 15px;
  margin-bottom: 5px;
}
.navbar-default .navbar-nav > li > a{
  color:  #666;
}
/* Main-Header */
.main-header{
  background-image: url('../assets/bg-banner-home.jpg');
  background-size: cover;
  height: 400px;
}
.main-header p{
  font-size: 20px;
  color: rgba(244, 244, 244, 0.7);
}
.google-icon{
  max-height: 20px;
  text-align: left;
}
.box-mail{
  width: 40%;
  background: #fff;
  border-radius: 8px;
  margin-top: 40px;
  margin-left: 40px;
}
.bg-info{
  color: #666;
  background: #fff;
  border: 3px solid rgba(244, 244, 244, 0.7);
  box-shadow: 10px;
  border-radius: 8px;
  padding: 5px;
}
.bg-primary{
  border: 3px solid rgba(244, 244, 244, 0.7);
  box-shadow: 10px;
  border-radius: 8px;
  padding: 5px;
}
.form-group .bg-info p{
  color: black;
}
.text-google p{
  font-size: 18px;
  color: #666;
}
.text-google .white{
  color: white;
}
h4{
  font-size: 12px;
}
.blue{
  color: #2485fd;
}
/* Header-sub */
.header-sub{
  background: #f3f5f9;
}
h5{
  margin-top: 40px;
  text-transform: uppercase;
}
.header-sub ul li img{
 max-width: 200px;
 padding: 10px;
}
.header-sub a{
  color:#2485fd;
}

@media screen and (max-width: 768px){
  h1{
    font-size: 40px;
  }
  .box-mail{
    width: 80%;
    background: #fff;
    border-radius: 8px;
    margin-top: 60px;
    margin-left: 40px;
  }
  .header-sub ul li img{
   max-width: 80px;
   padding: 8px;
  }
  .main-header{
    height: 800px;
  }
}
